<div class="container">        
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">MuyPicky</a>
                </div>
                <ul class="nav navbar-nav">
                        <li><a href='{% url "home" %}' >Home</a></li>
                        <li><a href='{% url "about" %}'>About</a></li>
                        <li><a href='{% url "contact" %}'>Contact</a></li>
                        {% if request.user.is_authenticated %}
                                <li><a href='{% url "restaurants:list" %}'>Restaurants</a></li>
                                <li><a href='{% url "menus:list" %}'>Menus</a></li>
                                <a class="btn btn-danger navbar-btn" role="button" href='{% url "logout" %}'>Logout</a>
                        {% else %}
                        <a class="btn btn-info navbar-btn" role="button" href='{% url "register" %}'>Register</a>
                        {% endif %}
                </ul>
        </div>
</nav>
</div>